<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/headerInfo', {title: 'DeraCommerce'}) %>
</head>

<body>
  <div class="bigDiv">
    <h1>Hola *DERACOMMERCE*</h1>
    <p>Esta página está en construcción!</p>
    <a href="/">WIP</a>
  </div>
</body>

</html>