<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/headerInfo', {title: 'Pedido Confirmado'}) %>
</head>

<body>
  <div class="bigDiv">
    <h1>Tu pedido ya está en camino!</h1>
    <p>Recibirás pronto un mensaje para concretar la entrega.</p>
    <a href="/">Ok</a>
    <br/>
  </div>
</body>

</html>