<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  * {
    font-family: Comic Sans MS, 'Gill Sans';
    color: black;
    text-align: center;
    /*background-color: #e4ca4f;*/
  }

  body {
    background-image: url('/img/backSand.png');
    background-repeat: repeat;
  }

  img {
    width: 75px;
  }


  .bigDiv {
    background-color: #e4ca4f;
    border: 2px solid #836d2b;
    margin: auto 17%;
  }

  .centeredTable {
    margin: auto;
    border-collapse: collapse;
  }

  .darkBorder {
    border: 2px solid #836d2b;
  }

  .lessDarkBorder {
    border: 2px solid #bda741;
  }

  .lightBg {
    background-color: #e7d67e;
  }

  .shortPadding {
    padding: 10px;
  }

</style>
<title><%=title%></title>